<div class="container">
    <div class="columns">
        <div class="four-fifths column centered">
            <h2>Post a Problem!</h2>
            <p class="Subhead-description">Post your queries and get answers by our awesome community and institutes.</p>
            <hr>
            <div class="columns">
                <div class="one-half column">
                    <md-input-container class="full-width">
                        <input mdInput placeholder="Problem title:" name="title" [(ngModel)]="question.title">
                    </md-input-container>
                </div>
            </div>

            <div class="columns">
                <div class="one-half column">
                    <md-input-container class="full-width">
                        <input mdInput [(ngModel)]="tag" (keyup.enter)="addTag()" placeholder="Keywords:" name="tag">
                        <md-hint align="start">Hit Enter! to add keywords that are related to your problem. Example roadways.</md-hint>
                    </md-input-container>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <md-chip-list>
                        <md-chip *ngFor="let tag of question.tags">
                            {{tag}}
                            <a class="fa fa-times" (click)="removeTag(tag)"></a>
                        </md-chip>
                    </md-chip-list>
                </div>
            </div>

            <md-input-container class="full-width">
                <textarea mdInput class="border border-bottom-0" placeholder="Problem details:" name="description" [(ngModel)]="question.description" style="height: 300px; resize: none"></textarea>
            </md-input-container>

            <div class="columns">
                <div class="one-half column centered text-center">
                    <md-icon class="fa fa-file-image-o fa-3x"></md-icon>
                    <br>
                    <button md-raised-button color='primary' type="file">Upload Images</button>
                    <p class="note">Upload images or screenshorts of related to your problem. (Optional)</p>
                </div>
            </div>
            <!--<div class="columns">
                <div class="one-half column centered text-center">
                    <button class="btn btn-outline" type="button">Preview Problem</button>
                    <p class="note">See how your question will look to others.</p>
                </div>
            </div>-->
            <hr>
            <div class="columns">
                <div class="one-half column centered text-center">
                    <button class="btn btn-primary" type="button" (click)="addQuestion()">Post Problem!</button>
                </div>
            </div>
        </div>
    </div>
</div>