<div class="container full-width">
    <div class="columns full-width">
        <div class="one-fifth column full-width">
            <div class="sidebar" #sidebar>
                <button md-button class="full-width"><h2   class="column"><i class="fa fa-bars" aria-hidden="true"></i></h2><h3 class="column">SideBar</h3></button>
                <br>
                <button md-button class="full-width">Top Colleges</button>
                <button md-button class="full-width"><i class="fa fa-plus" aria-hidden="true"></i>Add Institute</button>
            </div>
        </div>
        <div class="four-fifths column">
            <h1 class="text-center">Top User</h1>
            <md-card>
                <md-card-title>1. SKIT, Jaipur</md-card-title>
                <md-card-content></md-card-content>
            </md-card>
            <table id="table_id" class="display">
                <thead>
                <tr>
                    <th>Column 1</th>
                    <th>Column 2</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Row 1 Data 1</td>
                    <td>Row 1 Data 2</td>
                </tr>
                <tr>
                    <td>Row 2 Data 1</td>
                    <td>Row 2 Data 2</td>
                </tr>
                </tbody>
            </table>
            <script>
                $(document).ready( function () {
                    $('#table_id').DataTable();
                } );
            </script>
        </div>
    </div>
</div>