<div class="container full-width">
    <div class="columns full-width">
        <div class="one-fifth column full-width">
            <div class="sidebar" #sidebar>
                <br>
                <button md-button class="full-width">Top Colleges</button>
                <button md-button class="full-width" (click)="addInstitute()">Add Institute</button>
            </div>
        </div>
        <div class="four-fifths column">
            <h1 class="text-center">Top User</h1>
            <md-card>
                <md-card-title>1. SKIT, Jaipur</md-card-title>
                <md-card-content></md-card-content>
            </md-card>
        </div>
    </div>
</div>