<navbar></navbar>
<div class="container">
    <div class="columns">
        <div class="one-third column">
        <img class=" ProfilePicture" src= {{user.thumbnail}} width="300px" height="200px"/>
        <h2 class="centered ">Mohit Sharma</h2>
            <a><h4 class="centered column Anchored"><i class="fa fa-link" aria-hidden="true"></i>edit profile</h4></a>
        </div>
        <br>
        <div class="two-thirds column">
            <div class="one-fifth column">
                <h3>Bio:</h3>
            </div>
            <div class="four-fifths column">{{user.bio}}</div>
            <div class="one-fifth column">
                <h3>Interests:</h3>
            </div>
            <div class="four-fifths column">
                <div class="columns">
                    <div class="column">
                        <md-chip-list>
                            <md-chip>abc</md-chip><md-chip>pqr</md-chip><md-chip>aqaq</md-chip><md-chip>xyz</md-chip><md-chip>lplp</md-chip>
                        </md-chip-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
<hr>
    <md-tab-group>
        <md-tab label="Projects">
            <br>
            <div class="columns ">
                <div class="one-third column">
                    <md-card>
                        <img class="centered full-width" src=""  height="150px">
                        <h3>Description:</h3>
                        <div>desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc </div>
                    </md-card>
                </div>
                <div class="one-third column">
                    <md-card>
                        <img class="centered full-width" src=""  height="150px">
                        <h3>Description:</h3>
                        <div>desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc </div>
                    </md-card>
                </div>
                <div class="one-third column">
                    <md-card>
                        <img class="centered full-width" src=""  height="150px">
                        <h3>Description:</h3>
                        <div>desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc </div>
                    </md-card>
                </div>
            </div>
            <br>
            <div class="columns ">
                <div class="one-third column">
                    <md-card>
                        <img class="centered full-width" src=""  height="150px">
                        <h3>Description:</h3>
                        <div>desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc </div>
                    </md-card>
                </div>
                <div class="one-third column">
                    <md-card>
                        <img class="centered full-width" src=""  height="150px">
                        <h3>Description:</h3>
                        <div>desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc </div>
                    </md-card>
                </div>
                <div class="one-third column">
                    <md-card>
                        <img class="centered full-width" src=""  height="150px">
                        <h3>Description:</h3>
                        <div>desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc </div>
                    </md-card>
                </div>
            </div>
            <br>
            <div class="columns ">
                <div class="one-third column">
                    <md-card>
                        <img class="centered full-width" src=""  height="150px">
                        <h3>Description:</h3>
                        <div>desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc </div>
                    </md-card>
                </div>
                <div class="one-third column">
                    <md-card>
                        <img class="centered full-width" src=""  height="150px">
                        <h3>Description:</h3>
                        <div>desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc </div>
                    </md-card>
                </div>
                <div class="one-third column">
                    <md-card>
                        <img class="centered full-width" src=""  height="150px">
                        <h3>Description:</h3>
                        <div>desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc </div>
                    </md-card>
                </div>
            </div>
            <br>

        </md-tab>
        <md-tab label="Questions">Questions</md-tab>
        <md-tab label="Followers">Followers</md-tab>
        <md-tab label="following">following</md-tab>

    </md-tab-group>
</div>
<footer></footer>