<div class="container">
    <div class="columns">
        <div class="one-third column">
            <img class=" avatar" src="app/assets/male_user.png" width="200px" height="200px" />
            <h2 class="centered ">Mohit Sharma</h2>
            <a>
                <h4 class="centered column Anchored"><i class="fa fa-link" aria-hidden="true"></i>edit profile</h4>
            </a>
        </div>
        <br>

        <div class="two-thirds column">
            <div class="columns">
                <div class="one-fifth column">
                    <h3>Bio:</h3>
                </div>
                <div class="four-fifths column">{{user.bio}}</div>
            </div>
            <div class="columns">
                <div class="one-fifth column">
                    <h3>Rating:</h3>
                </div>
                <div class="four-fifths column">{{user.rating}}</div>
            </div>
            <div class="columns">
                <div class="one-fifth column">
                    <h3>Interests:</h3>
                </div>
                <div class="four-fifths column">
                    <div class="columns">
                        <div class="column">
                            <md-chip-list>
                                <md-chip>abc</md-chip>
                                <md-chip>pqr</md-chip>
                                <md-chip>aqaq</md-chip>
                                <md-chip>xyz</md-chip>
                                <md-chip>lplp</md-chip>
                            </md-chip-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <md-tab-group>
        <md-tab label="Projects">
            <br>
            <div class="columns ">
                <div class="one-third column">
                    <md-card>
                        <div class="column"><h5>My Project</h5></div>
                        <img class="centered full-width" src="app/assets/project_bucket_logo.png" height="150px">
                        <h3>Description:</h3>
                        <div>desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc </div>
                        <div class="column"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 156</div>
                        <div class="column"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 26</div>
                        <div class="column"><i class="fa fa-comments-o" aria-hidden="true"></i> 12</div>
                    </md-card>
                </div>
                <div class="one-third column">
                    <md-card>
                        <div class="column"><h5>My Project</h5></div>
                        <img class="centered full-width" src="app/assets/project_bucket_logo.png" height="150px">
                        <h3>Description:</h3>
                        <div>desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc </div>
                        <div class="column"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 156</div>
                        <div class="column"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 26</div>
                        <div class="column"><i class="fa fa-comments-o" aria-hidden="true"></i> 12</div>
                    </md-card>
                </div>
                <div class="one-third column">
                    <md-card>
                        <div class="column"><h5>My Project</h5></div>
                        <img class="centered full-width" src="app/assets/project_bucket_logo.png" height="150px">
                        <h3>Description:</h3>
                        <div>desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc desc </div>
                        <div class="column"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 156</div>
                        <div class="column"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 26</div>
                        <div class="column"><i class="fa fa-comments-o" aria-hidden="true"></i> 12</div>
                    </md-card>
                </div>

            </div>
            <br>
        </md-tab>
        <md-tab label="Questions">Questions</md-tab>
        <md-tab label="Answers">Answers</md-tab>
        <md-tab label="Contributing">Contributing</md-tab>

    </md-tab-group>
</div>