<br>
<div class="container">
    <div class="columns">
        <div class="four-fifths column centered">
            <md-tab-group>
                <md-tab label="Log in">
                    <form>
                        <br>
                        <div class="columns centered">
                            <div class="two-thirds column">
                                <md-input-container class="full-width">
                                    <input mdInput placeholder="Login ID">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="columns centered">
                            <div class="two-thirds column">
                                <md-input-container class="full-width">
                                    <input mdInput placeholder="Password">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="columns centered">
                            <div class="one-half column">
                                <md-checkbox>
                                    <label>Remember Me</label>
                                </md-checkbox>
                            </div>
                        </div>
                        <div class="columns centered">
                            <div class="one-half column centered">
                            <button class="btn btn-primary" type="button" (click)="login()">Login</button>
                            </div>
                        </div>
                    </form>
                </md-tab>


                <md-tab label="Sign up">
                    <form class="centered">
                        <br>
                        <div class="columns centered">
                            <div class="two-thirds column ">
                                <md-input-container class="full-width">
                                    <input mdInput placeholder="First Name">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="columns centered">
                            <div class="two-thirds column ">
                                <md-input-container class="full-width">
                                    <input mdInput placeholder="Last Name">
                                </md-input-container>
                            </div>
                        </div>

                        <div class="columns centered">
                            <div class="two-thirds column ">
                                <md-input-container class="full-width">
                                    <input mdInput placeholder="User Name">
                                    <md-hint align="start">User name must be unique</md-hint>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="columns centered">
                            <div class="two-thirds column ">
                                <md-input-container class="full-width">
                                    <input mdInput placeholder="Mail ID">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="columns centered">
                            <div class="two-thirds column">
                                <md-input-container class="full-width">
                                    <input mdInput placeholder="Password">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="columns centered">
                            <div class="one-half column ">
                                <md-radio-group>
                                    <md-radio-button value="Male" checked='true'>
                                        <i class="fa fa-male" aria-hidden="true"></i>
                                        <label>Male</label>
                                    </md-radio-button>
                                    <br>
                                    <md-radio-button value="female">
                                        <i class="fa fa-female" aria-hidden="true"></i>
                                        <label>Female</label>
                                    </md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="one-half column">
                                <md-input-container class="full-width">
                                    <input mdInput [(ngModel)]="interest" (keyup.enter)="addInterests()" placeholder="Interests" name="interest">
                                    <md-hint align="start">Add the topics, you wanna see in feeds!</md-hint>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <md-chip-list>
                                    <md-chip *ngFor="let interest of interests">
                                        {{interest}}
                                        <a class="fa fa-times" (click)="removeInterests(interest)"></a>
                                    </md-chip>
                                </md-chip-list>
                            </div>
                        </div>
                        <div class="columns centered">
                            <div class="one-half column centered">
                                <button class="btn btn-primary" type="button">Sign up</button>
                            </div>
                        </div>
                    </form>
                </md-tab>
            </md-tab-group>
        </div>
        </div>
    </div>

<!--temporarily false-->
<add-project *ngIf=""></add-project>