.Subhead-description {
    color: #586069;
 }

 .full-width {
  width: 100%;
}

.note {
  color: #586069;
  font-size: 75%;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.example-card {
  width: 400px;
}

.avatars {
  width: 40px;
  border-radius: 50%;
}